[submodule ".zsh/plugins/zsh-autopair"]
	path = .zsh/plugins/zsh-autopair
	url = https://github.com/hlissner/zsh-autopair
[submodule ".zsh/plugins/zsh-autosuggestions"]
	path = .zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule ".zsh/plugins/pure"]
	path = .zsh/plugins/pure
	url = https://github.com/sindresorhus/pure
[submodule ".zsh/plugins/zsh-syntax-highlighting"]
	path = .zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule ".zsh/plugins/zsh-system-clipboard"]
	path = .zsh/plugins/zsh-system-clipboard
	url = https://github.com/kutsan/zsh-system-clipboard
[submodule ".zsh/plugins/zsh-history-substring-search"]
	path = .zsh/plugins/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search
[submodule ".zsh/plugins/fzf-tab"]
	path = .zsh/plugins/fzf-tab
	url = https://github.com/Aloxaf/fzf-tab
[submodule ".zsh/plugins/zsh-defer"]
	path = .zsh/plugins/zsh-defer
	url = https://github.com/romkatv/zsh-defer
[submodule ".zsh/plugins/fzf-gems"]
	path = .zsh/plugins/fzf-gems
	url = https://github.com/teto/fzf-gems
[submodule ".zsh/plugins/op.plugin.zsh"]
	path = .zsh/plugins/op.plugin.zsh
	url = https://github.com/sirhc/op.plugin.zsh
